<div class="container">

  <div class="footer">


    <div class="footer__notes">
      <div class="footer__social" fxLayout="row">
        <img class="footer__social-image" src="../../assets/images/facebook.png" alt="">
        <img class="footer__social-image" src="../../assets/images/whatsapp.png" alt="">
        <img class="footer__social-image" src="../../assets/images/instagram.png" alt="">
      </div>
      <div class="footer__copyright">
        DIURUSKAN OLEH MAJLISKAMI.MY
      </div>
    </div>
  </div>
</div>