<div class="container">

    <div class="logo" fxLayout fxLayoutAlign="center center">
        <img fxFlex="50%" src="../../assets/images/logo_g8-my.png" alt="g8.my logo">
    </div>

    <div class="menu">
        <mat-toolbar fxLayout="row" fxLayoutAlign="center center">
                <button mat-button routerLink="/">Home</button>
                <button mat-button routerLink="/contact">Contact</button>
        </mat-toolbar>    
    </div>
    <router-outlet></router-outlet>

    <app-footer></app-footer>

</div> 




