.footer{
    padding-top: 15vh;
    background: rgb(150,207,241);
    background: linear-gradient(90deg, rgba(150,207,241,1) 0%, rgba(250,246,166,1) 42%, rgba(247,179,208,1) 100%);

    &__social-item{
        margin: 5px;
        padding-right: 10px;
    }

    &__copyright{
        margin: 5px;
        padding-right: 10px;
    }
}