@media only screen and (min-width: 600px) {
    .test{
        margin-top: 15vh;
        background: rgb(150,207,241);
        background: linear-gradient(90deg, rgba(150,207,241,1) 0%, rgba(250,246,166,1) 42%, rgba(247,179,208,1) 100%);
        position: relative;

        &__input{
            padding: 10px;
            border-radius: 5px;
        }

        &__img{
            position: absolute;
            z-index: 2;
            transform: scaleZ(1.2);
            overflow: hidden;
            right: 10%;
        }

        &__button{
            padding-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 599px) {
    .test{
        margin-top: 15vh;
        background: rgb(150,207,241);
        background: linear-gradient(90deg, rgba(150,207,241,1) 0%, rgba(250,246,166,1) 42%, rgba(247,179,208,1) 100%);
    
        &__input{
            padding: 10px;
            border-radius: 5px;
        }
    
        &__button{
            padding-bottom: 10px;
        }
    }
    
  }

.category{
    padding-top: 10vh;

    &__title{
        text-align: center;
    }
}

mat-card-title{
    text-align: center;
}
